<div class='name-maker-window'>
  <div style="display:inline;">
  <b>Maker Name</b>
  <input type="text" id="name-maker-name" placeholder='Give this Maker a Name' value="{{makerName}}"></field>
  </div>
  <div>
  <b>Dictionary</b>
  <textarea id="name-maker-dictionary" rows="5" placeholder="Enter a list of names here for the maker to process.">{{dict}}</textarea>
  </div>
  <p><b>Options</b></p>
  <label for="name-maker-delimiter">Delimiter</label>
  <input type="text" id="name-maker-delimiter" value="{{delim}}" maxlength="1"></field>
  <br>
  <label for="name-maker-relation-depth">Context Depth</label>
  <input type="text" id="name-maker-relation-depth" value="{{prefixDepth}}"></field>
  <br>
  <span style="display: flex;">
  <label for="name-maker-length-range-min" style="flex-grow: 1;">Length Range</label>
  <input type="text" id="name-maker-length-range-min" value="{{minLength}}"></field>
  <span style="padding: 2px 5px;">to</span>
  <input type="text" id="name-maker-length-range-max" value="{{maxLength}}"></field>
  </span>
  <hr>
  <div class='name-maker-submit-div'></div>
</div>